/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Poppins&display=swap');

/* Styles for the signup form */
.signup-form {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('../../assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    overflow: hidden;
}

/* Reset default body margin */
body {
    margin: 0;
}

/* Logo styling */
.logo {
    width: 130px;
    height: 143px;
    position: absolute;
    top: 20px;
    left: 20px;
}

/* Main title styling */
.mainTitle {
    width: px;
    height: 35px;
    font-size: 26px;
    font-family: Raleway;
    position: absolute;
    top: 150px;
    right: 300px;
}

/* Title styling */
.title {
    width: 222px;
    height: 59px;
    font-size: 36px;
    font-weight: bold;
    font-family: Raleway;
    position: absolute;
    top: 250px;
    left: 110px;
}

/* Subtitle styling */
.subtitle {
    width: 396px;
    height: 53px;
    font-size: 24px;
    font-family: Poppins;
    position: absolute;
    top: 309px;
    left: 2px;
}

/* Paragraph styling */
.pharagraph {
    width: 308px;
    font-family: Raleway;
    position: absolute;
    top: 562px;
    left: 122px;
}

/* Input group styling */
.input-group {
    margin-bottom: 20px;
    position: absolute;
    top: 200px;
    right: 70px;
}

/* Input fields and buttons styling */
.input-group input[type="text"],
.input-group input[type="password"],
.input-group button[type="submit"] {
    width: 150%;
    max-width: 250px;
}

.input-group button[type="submit"] {
    background-color: #1844BC;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Social icons styling */
.social-icons {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 560px;
    right: 150px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

/* General button styling */
button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

/* Button hover effect */
button:hover {
    background-color: #0056b3;
}